<nav class="navbar fixed-bottom navbar-expand navbar-light bg-lighter">
    <div class="container">
        <ul class="navbar-nav d-flex justify-content-between flex-wrap w-100">
            <li class="nav-item p-2">
                <a class="nav-link" href="/home">
                    <img src="/public/icons/house-door-fill.svg" alt="Home" width="42" height="42">
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="/run">
                    <img src="/public/icons/person-running-solid.svg" alt="Run" width="42" height="42">
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="/progress">
                    <img src="/public/icons/bar-chart-fill.svg" alt="Progress" width="42" height="42">
                </a>
            </li>
        </ul>
    </div>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>