<nav>
    <ul>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/run">Run</a>
        </li>
        <li>
            <a href="/progress">Progress</a>
        </li>
    </ul>
</nav>