<head>
    <!-- <link rel="stylesheet" type="text/css" href="../css/header.css"> -->
</head>

<nav class="border-bottom bg-lighten-xl shadow-sm mb-5 static-top">
    <div class="navbar p-2">
        <h2 class="navbar-brand">FitTrack</h2>
        <a class="nav-link" href="/profile">User Profile</a>
    </div>
</nav>