<head>
    <!-- <link rel="stylesheet" type="text/css" href="../css/header.css"> -->
</head>

<nav>
    <div class="navbar">
        <h2 class="navbar-brand">FitTrack</h2>
        <a class="nav-link" href="/profile">User Profile</a>
    </div>
</nav>