<head>
    <!-- <link rel="stylesheet" type="text/css" href="../css/header.css"> -->
</head>

<nav>
    <div class="TopNavBar">
        <h2>FitTrack</h2>
        <a href="/profile">User Profile</a>
    </div>
</nav>