html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8D4E3;
}

.mainContent {
    text-align: center;
    font-size: 50px;
}

img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.mainContent img {
    border: 30px solid white;
    background-color: white;
}