<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/public/css/easter-egg.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <h2>Surprise</h2>
    <div id="game-container">
    </div>
    <div id="score" class="score-display"></div>
</main>

<footer>
  <%- include('../partials/footer'); %>
  
</footer>

<script src="/public/scripts/easteregg-script.js"></script>
</body>
</html>