<!DOCTYPE html>
<html lang="en">

<head>
    <%- include( '../partials/head'); %>
        <link rel="stylesheet" href="/public/css/easter-egg.css">
</head>

<body>
    <!-- Main Body -->
    <main>
        <p>Easter</p>
    </main>

</body>

<!-- Footer -->
<footer>
    <%- include('../partials/footer'); %>
        <script src="/public/scripts/easteregg-script.js"></script>
</footer>

</html>