<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/public/css/error.css">
    <title>Error</title>
</head>

<body>
    <div class="mainContent">
        <h1>Ooops!!</h1>
        <p>
            <%= message %>
        </p>
        <img src="/public/icons/pool.png">
    </div>

</body>

</html>