<!DOCTYPE html>
<html lang="en">

<head>
    <%- include( '../partials/head'); %>
        <style>
            body {
                background-color: #eee;
            }
        </style>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <!-- BootStrap -->
        <div class="col-md-12 text-center ">
            <h2 class="mt-5">Welcome User</h2>

            <div class="col-md-12 d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
                <a href="www.google.com" class="btn btn-primary btn-lg disabled  w-100 mb-2" role="button" tabindex="0" aria-disabled=" true ">RUN</a>
                <a href="# " class="btn btn-primary btn-lg disabled w-100 mb-2 " role="button " tabindex="1" aria-disabled=" true ">Progress</a>
                <a href="# " class="btn btn-primary btn-lg disabled w-100 mb-2 " role="button " tabindex="2" aria-disabled=" true ">Recommendations</a>
            </div>
        </div>
    </main>


</body>

</html>