<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" type="text/css" href="../css/home.css"> -->
    <%- include( '../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h2>Welcome User</h2>
        <div class="MainPageButtons"><a href="">RUN</a></div>
        <div class="MainPageButtons"><a href="">Progress</a></div>
        <div class="MainPageButtons"><a href="">Recommendations</a></div>
    </main>


</body>

</html>