<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for ="username">Username</label>
        <input type="text" name="username" id="username" required><br>
        <label for ="password">Password</label>
        <input type="password" name="password" id="password" required><br>
        <input type="submit" value="Login">
    </form>
    <a href="/signup">Sign up</a>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>