<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <h2>Profile</h2>
    <h3>Username</h3>
    <p>Bio: example text goes here</p>
    <p>Goal Weight: goal goes here</p>
    <a href="/settings" class="btn btn-primary">Change Settings</a>
    <a href="/logout" class="btn btn-primary">Log Out</a>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>