<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class = "profile">
      <h3 class="text-center"><%= username %></h3>
      <div class="info-section">
        <section class="text-center">
          <h4>Goal Weight:</h4>
          <p>180 Lbs</p>
        </section>
        <section class="text-center">
          <h4>Bio:</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima nihil nemo sed earum ipsam cum repudiandae illo consequatur</p>
        </section>
      </div>
      <div class="btn-toolbar d-flex align-items-center justify-content-center">
        <a href="/settings" class="btn btn-primary">Change Settings</a>
        <a href="/logout" class="btn btn-primary">Log Out</a>
      </div>   
    </div>   
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>